Body	{background-color:#3285a8;}
h1	{color:##32a83a;}
p	{color:#0d0d0c;}

.center{margin-left: auto;	margin-right: auto;}

img	{display:block;
	width:110px;
	height:100px;
	width:100%;}

figcaption {text-align:center;}
